appdirs==1.4.3
asgiref==3.2.3
certifi==2020.4.5.1
chardet==3.0.4
distlib==0.3.0
dj-database-url==0.5.0
Django==2.1.5
django-admin-sortable2==0.7.5
django-angular==2.2.4
django-appconf==1.0.4
django-classy-tags==1.0.0
django-crispy-forms==1.9.0
django-entangled==0.3
django-filer==1.7.0
django-formtools==2.2
django-fsm==2.7.0
django-fsm-admin==1.2.4
django-heroku==0.3.1
django-ipware==2.1.0
django-js-asset==1.2.2
django-lab-inventory==0.4.0
django-model-utils==3.1.2
django-mptt==0.11.0
django-polymorphic==2.1.2
django-post-office==3.4.0
django-quiz-app==0.5.1
django-rest-auth==0.9.5
django-sekizai==1.1.0
django-select2==7.2.0
django-treebeard==4.3.1
djangocms-admin-style==1.5.0
djangocms-cascade==1.2.3
djangocms-text-ckeditor==3.9.0
djangorestframework==3.11.0
easy-thumbnails==2.7
filelock==3.0.12
gunicorn==20.0.4
html5lib==1.0.1
idna==2.9
jsonfield==3.1.0
Pillow==7.0.0
pinax-points==1.0
pipenv==2018.11.26
psycopg2==2.8.5
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.0
style==1.1.0
Unidecode==1.1.1
update==0.0.1
urllib3==1.25.8
virtualenv==20.0.17
virtualenv-clone==0.5.4
webencodings==0.5.1
whitenoise==5.0.1
