{%extends "blog/base.html" %}
{%block content%}

<div class="row">
<div class="col-md-4">
	<figure class="card card-product">
		<div class="img-wrap"><img src="https://vignette.wikia.nocookie.net/elderscrolls/images/c/cf/Elder_Scroll_%28Oblivion%29_Scroll.png/revision/latest?cb=20130913221757"></div>
		<figcaption class="info-wrap">
				<h4 class="title">Mysterious Elder scroll</h4>
				<p class="desc"><small>A mysterious ancient scroll that are very rare to find during your quest, 
          but somehow can be purchased from the store. Has the effect to add <b>1 extra credit</b> to your performance.
        </small></p>
				<div class="rating-wrap">
					<!--div class="label-rating">132 reviews</div>
					<div class="label-rating">154 orders </div-->
				</div> <!-- rating-wrap.// -->
		</figcaption>
		<div class="bottom-wrap">
			<a href="" class="btn btn-sm btn-primary float-right">Purchase</a>	
			<div class="price-wrap h5">
				<span class="price-new">$5000</span> <!--del class="price-old">$1980</del-->
			</div> <!-- price-wrap.// -->
		</div> <!-- bottom-wrap.// -->
	</figure>
</div> <!-- col // -->
<div class="col-md-4">
	<figure class="card card-product">
		<div class="img-wrap"><img src="https://s9.postimg.org/ojb106167/image.jpg"> </div>
		<figcaption class="info-wrap">
				<h4 class="title">Good product</h4>
				<p class="desc">Some small description goes here</p>
				<div class="rating-wrap">
					<!--div class="label-rating">132 reviews</div>
					<div class="label-rating">154 orders </div-->
				</div> <!-- rating-wrap.// -->
		</figcaption>
		<div class="bottom-wrap">
				<a href="" class="btn btn-sm btn-primary float-right">Purchase</a>	
				<div class="price-wrap h5">
					<span class="price-new">$1280</span> <!--del class="price-old">$1980</del-->
				</div> <!-- price-wrap.// -->
		</div> <!-- bottom-wrap.// -->
	</figure>
</div> <!-- col // -->
<div class="col-md-4">
	<figure class="card card-product">
		<div class="img-wrap"><img src="https://s9.postimg.org/4ooze1tof/image.jpg"></div>
		<figcaption class="info-wrap">
				<h4 class="title">Great product</h4>
				<p class="desc">Some small description goes here</p>
				<div class="rating-wrap">
					<!--div class="label-rating">132 reviews</div>
					<div class="label-rating">154 orders </div-->
				</div> <!-- rating-wrap.// -->
		</figcaption>
		<div class="bottom-wrap">
				<a href="" class="btn btn-sm btn-primary float-right">Purchase</a>	
				<div class="price-wrap h5">
					<span class="price-new">$1280</span> <!--del class="price-old">$1980</del-->
				</div> <!-- price-wrap.// -->
		</div> <!-- bottom-wrap.// -->
	</figure>
</div> <!-- col // -->
</div> <!-- row.// -->



</div> 
<!--container.//-->
</div>
<br><br><br>
</article>

{%endblock content%}